<!DOCTYPE html>
<html lang="en">
<head>
  {% load staticfiles %}
  <link href="{% static "wedinvite/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static "wedinvite/style/style.css" %}" />
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="{% static "wedinvite/script/countdown.js" %}"></script>
  <link rel="shortcut icon" type="image/png" href="{% static "wedinvite/images/favicon.ico" %}"/>
  <title>Laura ir Jonas</title>
</head>
<body>
  <!-- Google Tag Manager -->
  <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-TXB6R3"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-TXB6R3');</script>
  <!-- End Google Tag Manager -->
</body>
<body onload="updateClock()">
  <div class="wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div id="countdown" class="countdown"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 col-sm-2">
          <div id="ribbon-navigation">
            <ul class="top-level">
              <li {% if request.path == '/wedinvite/index/' or request.path == '/' %} class="active"{% endif %}><a href="/wedinvite/index">Kvietimas</a></li>
              <li {% if request.path == '/wedinvite/place/' %} class="active"{% endif %}><a href="/wedinvite/place">Vieta</a></li>
              <li {% if request.path == '/wedinvite/photos/' %} class="active"{% endif %}><a href="/wedinvite/photos">Nuotraukos</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-8 col-sm-8">
          <div id="content">
            {% block content %}{% endblock %}
          </div>
        </div>
        <div class="col-md-2 col-sm-2">
          <img class="img-responsive center-block" src="{% static "wedinvite/images/eiffel.png" %}">
        </div>
      </div>
      <div class="row">
        <img class="img-responsive center-block" width="20px" src="{% static "wedinvite/images/logo.png" %}">
      </div>
    </div>

  </div>
</body>
</html>
