{% extends "wedinvite/base.html" %}

{% block content %}
<body class="text-justify">
<h1 class="headline1"> Ceremonijos ir šventės vieta </h1>
<p class="text_content">
Santuokos ceremonija vyks Dievo Gailestingumo Šventovėje (Dominikonų g. 12), 2015.05.29 13:00
</p>
<iframe align="middle" width="100%" height="400" frameborder="0" style="border:0; margin: 10px;"
src="https://www.google.com/maps/embed/v1/place?q=12%20Dominikon%C5%B3%20gatv%C4%97%2C%20Vilnius%2C%20Lithuania&key=AIzaSyCLYtu2uVY7MCQPrt0vPA5LKVjZ5OHiOYc"></iframe>
<br/>

<iframe align="middle" width="100%" height="400" frameborder="0" style="border:0; margin: 10px;"
src="https://www.google.com/maps/embed/v1/streetview?location=54.6813%2C25.2855&key=AIzaSyCLYtu2uVY7MCQPrt0vPA5LKVjZ5OHiOYc"></iframe>


<p class="text_content">
Vestuvių šventė vyks Verkių Rūmų lauko terasoje (Žaliųjų ežerų g. 49), 2015.05.29 17:00
</p>
<iframe width="100%" height="450" frameborder="0" style="border:0 margin: 10px;"
src="https://www.google.com/maps/embed/v1/place?q=49%20%C5%BDali%C5%B3j%C5%B3%20E%C5%BEer%C5%B3%20g.%2C%20Vilnius%2C%20Lithuania&key=AIzaSyCLYtu2uVY7MCQPrt0vPA5LKVjZ5OHiOYc"></iframe>
</body>
{% endblock %}
