@import url(http://fonts.googleapis.com/css?family=Josefin+Sans&subset=latin,latin-ext);

@font-face {
  font-family: 'Allura';
  src: url('Allura-Regular.otf');
}

.countdown {
  font-family: 'Allura';
  font-size: 60px;
  font-size: 6vw;
  text-align: center;
}

html body {
  background: rgba(255, 255, 218, 0.11);
}

.container {
  background: white;
  border: 1px #e4e4e4 solid;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 0 6px #ccc;
  background-color: #fff;
  margin-top: 10px;
}

.headline1 { font-family: 'Allura'; font-size: 30px; font-size= 6vw; text-align: center; }

.headline2 { color: #a7e8f8; font-family: 'Julius Sans One', sans-serif; font-size: 22px; font-weight: bold; line-height: 32px; margin: 0 0 24px; text-shadow: 1px 1px 1px #082b34; }

.text_content { font-family: 'Josefin Sans'; font-size: 16px; line-height: 36px; margin: 0 0 24px; padding: 20px; text-indent: 36px;}

#ribbon-navigation {font-size:1.5em; width:150px; font-family: 'Allura'; margin-top:50px;}
#ribbon-navigation ul {margin:20px; padding:10px 0; border-left:1px solid #AAA; width:200px;}
#ribbon-navigation li {list-style: none;padding:7px 0 20px 30px;margin-left:-16px;}
#ribbon-navigation a {color: #000;  display:block;  text-decoration:none;}
#ribbon-navigation li:hover {background:url('../images/ribbon.jpg') top left no-repeat;}
#ribbon-navigation li.active {background:url('../images/ribbon.jpg') top left no-repeat;}
